__pycache__/conf_test.cpython-39-pytest-6.1.2.pyc
__pycache__/conftest.cpython-39-pytest-6.1.2.pyc
__pycache__/test_accum.cpython-39-pytest-6.1.2.pyc
__pycache__/test_conf.cpython-39-pytest-6.1.2.pyc
__pycache__/test_math.cpython-39-pytest-6.1.2.pyc
.vscode/settings.json
stuff/__pycache__/__init__.cpython-39.pyc
stuff/__pycache__/accum.cpython-39.pyc
tests/__pycache__/__init__.cpython-39.pyc
tests/__pycache__/conftest.cpython-39-pytest-6.1.2.pyc
tests/__pycache__/test_accum.cpython-39-pytest-6.1.2.pyc
tests/__pycache__/test_math.cpython-39-pytest-6.1.2.pyc
reports.xml
results/*
htmlcov/*
.coverage
assets/*
tests/__pycache__/*
